<ol class="breadcrumb">
  <li><a href="#">Admin</a></li>
  <li class="active">Servers</li>
</ol>


<div ng-if="error" class="alert alert-danger" role="alert">{{error}}</div>
<div ng-if="debug" class="alert alert-warning" role="alert">{{debug}}</div>


<div class="well">
  <label>Search</label> <input placeholder="search" ng-model="q">
  <a class="btn btn-info" href="#/admin/server/add"><span class="fa fa-plus" title="Linux"></span>Add Server</a>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <td></td>
    <td>Hostname</td>
    <td>IP Address</td>
    <td>Operation System</td>
    <td>Comments</td>
    <td>Services</td>
    <td>Edit</td>
    <td>Delete</td>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="server in servers|filter:q">
    <td>{{$index}}</td>
    <td>{{server.hostname}}</td>
    <td>{{server.comments}}</td>
    <td>{{server.ip}}</td>
    <td>{{server.os}}</td>
    <td><span ng-repeat="service in server.services">{{service.type}}</span></td>
    <td>
      <a class="btn btn-warning" href="#/admin/server/edit/{{server.hostname}}">Edit</a>
    </td>
    <td>
      <button ng-click="remove(server)" class="btn btn-danger">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
